@import 'core/normalize';
@import "core/reset";

@import 'utils/variables';
@import 'utils/mixins';

@import 'layouts/structure';
@import 'layouts/header';
@import 'layouts/mainform';
@import 'layouts/cardform';
@import 'layouts/cardpreview';
@import 'layouts/footer';

