<section class="card--form">
  <div class="wrapper-general"></div>
  <form class="complete--form">

    <div class="form__design">
      <div class="design--top"></div>
      <div class="design--bottom"></div>
    </div>

    <div class="form__fill">
      <div class="fill--top"></div>
      <div class="fill--bottom"></div>
    </div>

    <div class="form__share">
      <div class="share--top">
        <div class="title--icon">

          <i class="fas fa-share-alt"></i>


          <h3 class="share--title">Comparte</h3>
        </div>
        <a class="share--button">
          <img src="./assets/images/arrow.png">
        </a>
      </div>

    </div>
    <div class="share--bottom">


      <div class="create-card--button">
        <p class="create-card--text" title="Desplegar"><i class="far fa-address-card"></i>

          Crear tarjeta</p>
      </div>

    </div>

    <div class="created-card--container">
      <h4 class="created-card--title">La tarjeta ha sido creada:</h4>
      <a href="https://awesome-profile-card.com?id=A456DF0001" class="created-card--link"
        title="Tarjeta de perfil">https://awesome-profile-card.com?id=A456DF0001</a>
      <div class="twitter--button">
        <a href="https://adalab.es/" class="twitter--link" title="Compartir en twitter"><i class="fab fa-twitter"></i>Compartir en twitter</a></div>

    </div>

    </div>

    </div>


    </div>

  </form>
  </div>
</section>
