<section class="card--form">
    <div class="wrapper-general"></div>
    <form class="complete--form">
        
        <div class="form__design">
            <div class="design--top"></div>
            <div class="design--bottom"></div>
        </div>

        
            <div class="form__fill">
                <div class="fill--top">
                    <div class="title--icon">
                        <i class="far fa-keyboard fa-lg"></i>
                        <h3 class="fill--title">Rellena</h3>
                    </div>
                            <a class="fill--button">
                                <img src="./assets/images/arrow.png">
                            </a>
                </div>
                <div class="fill--bottom">

                    <div class="fillform bottom-1">
                            <div class="fillform--name">
                                <label class="label-fill" for="firstName">Nombre completo</label>
                                <input placeholder="Sally Jill" class="input-fill"id="firstName" type="text" name="firstName"/>
                            </div>
                            <div class="fillform--job">
                                <label class="label-fill" for="addjob">Puesto</label>
                                <input placeholder="Front-end unicorn" class="input-fill" id="addjob" type="text" name="addjob"/>
                            </div>
                    </div> 
                    <div class="fillform bottom-2">
                            <label class="label-fill"  for="addimage">Imagen de perfil</label>
                            <div class="bottom-2-box">
                                <button class="buttonform--image">Añadir imagen</button>
                                <input class="input-fill2" id="addimage" type="text" name="addimage"/>
                            </div>
                    </div>
                    <div class="fillform bottom-3">
                        <div class="fillform--email">
                            <label class="label-fill"  for="addemail">Email</label>
                            <input class="input-fill" placeholder="sally-hill@gmail.com" id="addemail" type="email" name="addemail"/>
                        </div>
                        <div class="fillform--phone">
                            <label class="label-fill" for="addphone">Teléfono</label>
                            <input placeholder="660632407" class="input-fill" id="addphone" type="text" name="addphone"/>
                        </div>
                        <div class="fillform--linkedin">
                            <label class="label-fill"  for="addlinkedin">Linkedin</label>
                            <input placeholder="linkedin.com/in/unicornfront" class="input-fill" id="addlinkedin" type="text" name="addlinkedin"/>
                        </div>
                        <div class="fillform--github">
                            <label class="label-fill"  for="addgithub">Github</label>
                            <input placeholder="@sallyhill" class="input-fill" id="addgithub" type="text" name="addgithub"/>
                        </div>
                </div>
        </div>


        <div class="form__share">
            <div class="share--top"></div>
            <div class="share--bottom"></div>
        </div>

    </form>
    </div>
</section>