
<section class="card--preview">
    <div class="box--preview">
        <button class="button--preview">
            <div class="button--preview_icon">
                <img src ="./rubish.png">
            </div>
            <p class="button--preview_text">Reset</p>
        </button>
        <div class="image--preview">
            <div class="image--preview_text color-palette1" id="image--preview_text">
                <div class="preview--square"></div>
                <div class="card--full">
                    <h3 class="card--full_name">Nombre Apellido</h3>
                    <p class="card--full_profession">Front-end developer</p>
                </div>
            </div>
            <div class="image--preview_picture"></div>
            <div class="image--preview_icons icon-palette1" id="image--preview_icons">
                <div class="preview icon--1"></div>
                <div class="preview icon--2"></div>
                <div class="preview icon--3"></div>
                <div class="preview icon--4"></div>
            </div>
        </div> 
    </div>
</section>
