<main class="main--form">
    <section class="card--preview">
        <div class="box--preview">
            <button class="button--preview"></button>
            <div class="image--preview">
                <div class="image--preview__text"></div>
                <div class="image--preview__image"></div>
                <div class="image--preview__icons"></div>
            </div> 
        </div>
    </section>

    <section class="card--form">
        <form class="complete--form">
            <div class="form__design">
                <div class="design--top"></div>
                <div class="design--bottom"></div>
            </div>
            <div class="form__fill"></div>
                <div class="fill--top"></div>
                <div class="fill--bottom"></div>
            <div class="form__share"></div>
                <div class="share--top"></div>
                <div class="share--bottom"></div>
        </form>
    </section>
</main>
    