<main class="main--form">
    <section class="card--preview">
        <div class="box--preview">
            <button class="button--preview">
                <div class="button--preview_icon">
                    <img src ="./rubish.png">
                </div>
                <p class="button--preview_text">Reset</p>
            </button>
            <div class="image--preview">
                <div class="image--preview_text">
                    <div class="preview--square"></div>
                    <div class="card--full">
                        <h3 class="card--full_name">Nombre Apellido</h3>
                        <p class="card--full_profession">Front-end developer</p>
                    </div>
                </div>
                <div class="image--preview_picture"></div>
                <div class="image--preview_icons">
                    <div class="preview icon--1"></div>
                    <div class="preview icon--2"></div>
                    <div class="preview icon--3"></div>
                    <div class="preview icon--4"></div>
                </div>
            </div> 
        </div>
    </section>
    <div class="wrapper">
    <section class="card--form">
        <form class="complete--form">
            <div class="form__design">
                <div class="design--top"></div>
                <div class="design--bottom"></div>
            </div>
            <div class="form__fill"></div>
                <div class="fill--top"></div>
                <div class="fill--bottom"></div>
            <div class="form__share"></div>
                <div class="share--top"></div>
                <div class="share--bottom"></div>
        </form>
    </section>
</div>
</main>
    