<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Awesome profile-cards</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900|Montserrat:700|Open+Sans:400,600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <div class="wrapper">
      <partial src="_mainindex.html" label="Main-index"></partial>
      <partial src="_footer.html" label="Footer" ></partial>
    </div>
  </body>

</html>
