.card--form{
    height: 100vh;
    
}

/////////////////////////DESIGN

/////////////////////////FILL
.fill--top{
    border-bottom: solid 1px lightgrey;
    display:flex;
    align-items: center;
    justify-content: space-between;
        .title--icon{
            display:flex;
            flex-direction: row;
            align-items: center;
            padding-bottom:7px;
            padding-top:7px;

        
            .fill--title{
                text-transform: uppercase;
                color:$primaryTextColor;
                font-weight: 200;
                font-size:18px;
            }
            .far{
                padding-right:10px;
                color:#e17334;
            }
        }
}
/////////////////////////SHARE