.main-form{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
        @include forTablet{
            display:flex;
            flex-direction: row;

        }
}

.card--preview{
    width:100%;
    border-radius:6px;
    background: linear-gradient(180deg, rgba(191,205,208,1) 0%, rgba(221,233,237,1) 100%);
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;

    @include forTablet{
        order: 2;
        margin-top:20px;
        margin-right:40px;
        margin-bottom:20px;

    }
    


    .box--preview{
        padding:38px 15px 40px 25px;

        .button--preview{
            border-radius:15px;
            border: white 1px solid;
            width:75px;
            height:30px;
            background-color: transparent;
            display:flex;
            justify-content: center;
            align-items: center;
            margin-bottom:20px;

                &_icon{
                    img{
                        width:11px;
                        margin-right:8px;
                    }
                }

                &_text{
                    color:$primaryTextColor;
                    font-size:12px;
                    text-transform: uppercase;
                }
        }

        .image--preview{
            width:240px;
            height:329px;
            background-color: white;
            box-shadow:0px 1px 10px 0px rgba(0,0,0,0.2);

            &_text{
                height:75px;
                display:flex;
                flex-direction: row;
                justify-content: left;
                align-items:center;
                line-height: 20px;

                    .preview--square{
                        width:5px;
                        height: 40px;
                        margin-right:15px;
                    }

                    .card--full{
                        &_name{
                            font-family: $previewFont;
                            font-weight: bold;
                            font-size:18px;
                            line-height: 1.11;
                        }

                        &_profession{
                            font-size: 15px;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: normal;
                            line-height: 1.25;
                            margin-top: 3px;
                        }
                    }
            }

            &_picture{
                width:100%;
                height:200px;
                background-image: url(../images/giphy.gif);
                background-size: contain;
                background-position: center;
            }

            &_icons{
                display:flex;
                justify-content: left;
                margin-top: 10px;
                margin-left:15px;

                .preview{
                    margin-right: 10px;
                    width:32px;
                    height:32px;
                    border-radius: 16px;

                    &.preview.icon--1{
                        background-size: 70%;
                        background-repeat: no-repeat;   
                        background-position: center;
                    }

                    &.preview.icon--2{
                        background-size: 70%;
                        background-repeat: no-repeat; 
                        background-position: center;
                    }

                    &.preview.icon--3{
                        background-size: 70%;
                        background-repeat: no-repeat;  
                        background-position: center; 
                    }

                    &.preview.icon--4{
                        background-size: 70%;
                        background-repeat: no-repeat;   
                        background-position: center;
                    }
                }
            }           
        }
    }
}