.color-palette1 {
    .preview--square{
        background-color: $colorpalette1c2c;
    }
    .card--full{
        h3{
            color: $colorpalette1c2c;
        }
        p{
            color: $colorpalette1c3c;
        }
    }
}

.color-palette2 {
    .preview--square{
        background-color: $colorpalette2c2c;
    }
    .card--full{
        h3{
            color: $colorpalette2c2c;
        }
        p{
            color: $colorpalette2c3c;
        }
    }
}

.color-palette2 {
    .preview--square{
        background-color: $colorpalette2c2c;
    }
    .card--full{
        h3{
            color: $colorpalette2c2c;
        }
        p{
            color: $colorpalette2c3c;
        }
    }
}

.color-palette3 {
    .preview--square{
        background-color: $colorpalette3c2c;
    }
    .card--full{
        h3{
            color: $colorpalette3c2c;
        }
        p{
            color: $colorpalette3c3c;
        }
    }
}

.icon-palette2{
    .preview{
        border: 2px solid $colorpalette2c3c;
        .icon--1{
            background-image: url(../images/mobile-c2.png);
        }
        .icon--2{
            background-image: url(../images/mail-c2.png);
        }
        .icon--3{
            background-image: url(../images/linkedin-c2.png);
        }
        .icon--4{
            background-image: url(../images/github-c2.png);
        }
    }
}

.icon-palette1{
    .preview{
        border: 2px solid $colorpalette1c3c;
    }
    .preview.preview.icon--1{
        background-image: url(../images/smartphone.png);
    }
    .preview.preview.icon--2{
        background-image: url(../images/email.png);
    }
    .preview.preview.icon--3{
        background-image: url(../images/linkedin.png);
    }
    .preview.preview.icon--4{
        background-image: url(../images/github.png);
    }
}

.icon-palette2{
    .preview{
        border: 2px solid $colorpalette2c3c;
    }
    .preview.preview.icon--1{
        background-image: url(../images/mobile-c2.png);
    }
    .preview.preview.icon--2{
        background-image: url(../images/mail-c2.png);
    }
    .preview.preview.icon--3{
        background-image: url(../images/linkedin-c2.png);
    }
    .preview.preview.icon--4{
        background-image: url(../images/github-c2.png);
    }
}

.icon-palette3{
    .preview{
        border: 2px solid $colorpalette3c3c;
    }
    .preview.preview.icon--1{
        background-image: url(../images/mobile-c3.png);
    }
    .preview.preview.icon--2{
        background-image: url(../images/mail-c3.png);
    }
    .preview.preview.icon--3{
        background-image: url(../images/linkedin-c3.png);
    }
    .preview.preview.icon--4{
        background-image: url(../images/github-c3.png);
    }
}

