.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;

    @include tabletSize {
       flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px;
      }
    

    & .footer__container--title{
    font-family:$mainFont;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #d8d8d8;
    margin-top: 18px;
    margin-bottom: 12px;

    }
   


        & .logo-container img{

                 width: 103px;
                 height: 40px;
                
        }

}
