.header{
    width:100%;
    height: 111px;
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    
    .container{
        height:50px;
        width:200px;
        background-image: url(../images/logo_awesome.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}
