.mainindex__container {
    padding-top: 75px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .mainindex__container--logo {
    width: 250px;
    height: 63px;
  }

  .mainindex__container--logo img {
    width: 100%;
  }

  .mainindex__container--text {
    text-align: center;
    margin-top: 35.4px;
    margin-bottom: 17.8px;

    & .mainindex__container--title {
      font-family: $landingTitle;
      color: $primaryColor;
      font-size: 19.2px;
      font-weight: 900;
    }

    & .mainindex__container--prhase {
      font-family: $mainFont;
      color: $secondaryTextColor;
      font-size: 12.8px;
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  .mainindex__container--typeface {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 38.6px;
    border: solid 1.6px rgba(156, 105, 76, 0.3);
  }

  .mainindex__button {
    font-family: $mainFont;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: $LandingButtonColor;
    border-radius: 21px;
    width: 129px;
    height: 42px;
    padding-top: 10px;
  }

  .mainindex__container--typeface {
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .far {
    color: $primaryColor;
    width: 25px;
    height: 26px;
    font-size: 22.4px;
  }

  .fas {
    color: $primaryColor;
    width: 25px;
    height: 26px;
    font-size: 22.4px;
  }

  .text-item {
    font-family: $mainFont;
    font-size: 12.8px;
    font-weight: normal;
    color: $primaryTextColor;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 7.8px;
  }

  .image-Designe {
    padding-left: 20px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-complete {
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-share {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }