.mainindex__container {
  padding-top: 120px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include forTablet {
    padding-bottom: 59px;
  }
}

.mainindex__container--logo {
  width: 250px;
  height: 63px;

  @include forTablet {
    width: 419px;
    height: 105px;
  }

}

.mainindex__container--logo img {
  width: 100%;
}

.mainindex__container--text {
  text-align: center;
  margin-top: 35.4px;
  margin-bottom: 17.8px;

  @include forTablet {
    margin-top: 31px;
    margin-bottom: 27px;
  }

  & .mainindex__container--title {
    font-family: $landingTitle;
    color: $primaryColor;
    font-size: 19.2px;
    font-weight: 900;

    @include forTablet {
      font-size: 24px;
    }
  }

  & .mainindex__container--prhase {
    font-family: $mainFont;
    color: $secondaryTextColor;
    font-size: 12.8px;
    width: 264px;

    @include forTablet {
      width: 331px;
      font-size: 16px;
    }

  }
}

.mainindex__container--typeface {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 38.6px;
  border: solid 1.6px rgba(156, 105, 76, 0.3);

  @include forTablet {
    margin-bottom: 186px;
  }
}

.mainindex__button {
  font-family: $mainFont;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: $LandingButtonColor;
  border-radius: 21px;
  width: 129px;
  height: 42px;
  padding-top: 10px;
}

.mainindex__container--typeface {
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 268px;
  display: flex;
  justify-content: space-around;

  @include forTablet {
    max-width: 325px;
  }
}

.far {
  color: $primaryColor;
  width: 25px;
  height: 26px;
  font-size: 22.4px;

  @include forTablet {
    width: 32px;
    height: 29px;
    font-size: 28px;
  }
}

.fas {
  color: $primaryColor;
  width: 25px;
  height: 26px;
  font-size: 22.4px;

  @include forTablet {
    height: 29px;
    font-size: 28px;
  }
}

.text-item {
  font-family: $mainFont;
  font-size: 12.8px;
  font-weight: normal;
  color: $primaryTextColor;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 7.8px;

  @include forTablet {
    font-size: 16px;
  }
}

.image-Designe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-complete {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
