
body{
    font-family: $mainFont ;
  }

.wrapper-general{
    padding: 0px 20px 0px 20px;
    border: 1px solid red;
    
      @include forTablet{
        padding: 0px 40px 0px 40px;
      }
}

.wrapperMain{
    padding: 0px 35px 0px 35px;
      
      @include forTablet{
      padding: 0px 175px 0px 175px;
    }
  }

.wrapperFooter{ /* lo he comprobado y queda bien */
    border:solid orangered 2px;
    padding: 10px 60px 10px 60px;

    @include forTablet{
    padding: 1px 40px 10px 40px;
}
}