// titulos: Verde oscuro

// fondo landing: gris

$LandingBgColor: #f5f5f5;
$HeroFormBgColor: linear-gradient(to bottom, #bfcdd0, #dde9ed);
$FormBgColor: linear-gradient(to bottom, #f5f5f5, #ffffff 9%);

$LandingButtonColor: #438792;

$primaryColor: #e17334;
$PlaceHolderColor: #c5c5c5; 

$primaryTextColor: #54585a;
$secondaryTextColor: #114e4e;
$ColorBorderIcon: #a2deaf;

$mainFont: 'Open Sans', ;
$previewFont: 'Montserrat', ;
$landingTitle: 'Merriweather', ;

$Tablet: 768px;
$pc: 1200px;

$colorpalette1c1c:#114e4e;
$colorpalette1c2c: #438792;
$colorpalette1c3c:#a2deaf;

$colorpalette2c1c:#420101;
$colorpalette2c2c:#bd1010;
$colorpalette2c3c: #e95626;

$colorpalette3c1c: #3e5b65;
$colorpalette3c2c: #eab052;
$colorpalette3c3c: #a0c0cf;
